<article class="address" ng-controller="addressCtrl">
  <div class="row" id="r">
    <div class="col-xs-12" id="col-as-12">
      <a href="" class="pt"><img src="../images/new-friends.png" alt=""></a>
      <div class="user">
        <span class="username">新的朋友</span>
      </div>
    </div>
  </div>
  <div class="row" id="r">
    <div class="col-xs-12" id="col-as-12">
      <a href="" class="pt"><img src="../images/chat.png" alt=""></a>
      <div class="user">
        <span class="username">群聊</span>
      </div>
    </div>
  </div>
  <div class="row" id="r">
    <div class="col-xs-12" id="col-as-12">
      <a href="" class="pt"><img src="../images/tag.png" alt=""></a>
      <div class="user">
        <span class="username">标签</span>
      </div>
    </div>
  </div>
  <div class="row" id="r">
    <div class="col-xs-12" id="col-as-12">
      <a href="" class="pt"><img src="../images/public.png" alt=""></a>
      <div class="user">
        <span class="username">公众号</span>
      </div>
    </div>
  </div>
  <div class="rowList" ng-repeat="v in addressList">
    <div class="line">{{v.key}}</div>
    <div class="row" id="r">
      <div class="col-xs-12" id="col-as-12">
        <a href="#/contactOne" class="wai"></a>
        <a href="" class="pt"><img src="{{v.image}}" alt=""></a>
        <div class="user">
          <span class="username">{{v.uname}}</span>
        </div>
      </div>
      <!-- <div class="col-xs-12" id="col-as-12">
        <a href="" class="pt"><img src="../images/zly.jpg" alt=""></a>
        <div class="user">
          <span class="username">爱家庭</span>
        </div>
      </div>
      <div class="col-xs-12" id="col-as-12">
        <a href="" class="pt"><img src="../images/baby.jpg" alt=""></a>
        <div class="user">
          <span class="username">爱笑的眼睛</span>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <div class="line">B</div>
  <div class="row" id="r">
    <div class="col-xs-12" id="col-as-12">
      <a href="" class="pt"><img src="../images/hzt.jpg" alt=""></a>
      <div class="user">
        <span class="username">杯比</span>
      </div>
    </div>
    <div class="col-xs-12" id="col-as-12">
      <a href="" class="pt"><img src="../images/wh1.jpg" alt=""></a>
      <div class="user">
        <span class="username">柏香林</span>
      </div>
    </div>
    <div class="col-xs-12" id="col-as-12">
      <a href="" class="pt"><img src="../images/wh2.jpg" alt=""></a>
      <div class="user">
        <span class="username">波波</span>
      </div>
    </div>``
  </div>
  <div class="line">C</div>
  <div class="row" id="r">
    <div class="col-xs-12" id="col-as-12">
      <a href="" class="pt"><img src="../images/hhj.jpg" alt=""></a>
      <div class="user">
        <span class="username">崔倩</span>
      </div>
    </div>
    <div class="col-xs-12" id="col-as-12">
      <a href="" class="pt"><img src="../images/bjt.jpg" alt=""></a>
      <div class="user">
        <span class="username">程燕</span>
      </div>
    </div>
    <div class="col-xs-12" id="col-as-12">
      <a href="" class="pt"><img src="../images/jnl.jpg" alt=""></a>
      <div class="user">
        <span class="username">陈珊</span>
      </div>
    </div>
  </div> -->
  <div class="floors">
    <a href="">A</a>
    <a href="">B</a>
    <a href="">C</a>
    <a href="">D</a>
    <a href="">E</a>
    <a href="">G</a>
    <a href="">H</a>
    <a href="">I</a>
    <a href="">J</a>
    <a href="">K</a>
    <a href="">L</a>
    <a href="">M</a>
    <a href="">N</a>
    <a href="">O</a>
    <a href="">P</a>
    <a href="">Q</a>
    <a href="">R</a>
    <a href="">S</a>
    <a href="">T</a>
    <a href="">U</a>
    <a href="">V</a>
    <a href="">W</a>
    <a href="">X</a>
    <a href="">Y</a>
    <a href="">Z</a>
  </div>
</article>
