<footer class="footer">
  <li class="f-font">
    <a class="f-chat iconfont" ng-class="{active:title=='微信'}" href="#/weichat" ng-click="title='微信'"></a>
    <a href="#/weichat" ng-class="{ac:title=='微信'}">微信</a>
  </li>
  <li class="f-font">
    <a class="f-address iconfont" ng-class="{active:title=='联系人'}" href="#/contact" ng-click="title='联系人'"></a>
    <a href=#/contact"" ng-class="{ac:title=='联系人'}">通讯录</a>
  </li>
  <li class="f-font">
    <a class="f-discover iconfont" ng-class="{active:title=='发现'}" href="#/discover" ng-click="title='发现'"></a>
    <a href="#/discover" ng-class="{ac:title=='发现'}">发现</a>
  </li>
  <li class="f-font">
    <a class="f-me iconfont" ng-class="{active:title=='我'}" href="#/me" ng-click="title='我'"></a>
    <a href="#/me" ng-class="{ac:title=='我'}">我</a>
  </li>
</footer>
