<header class="header">
  <div class="h-font">
    <span>微信</span>
  </div>
  <div class="h-add iconfont" ng-click="show=!show" ng-init="show=false"></div>
  <div ng-show="show" class="drop">
    <!-- <span></span> -->
    <ul class="dropdown-content">
      <li>
        <div class="h-img h-img-one iconfont" href=""><img src="" alt=""></div>
        <a href="#!">发起群聊</a>
      </li>
      <li>
        <div class="h-img h-img-two iconfont" href=""><img src="" alt=""></div>
        <a href="#!">添加朋友</a>
      </li>
      <li>
        <div class="h-img iconfont h-img-three" href=""><img src="" alt=""></div>
        <a href="#!">扫一扫</a>
      </li>
      <li>
        <div class="h-img h-img-four iconfont" href=""><img src="" alt=""></div>
        <a href="#!">收付款</a>
      </li>
      <li>
        <div class="h-img h-img-five iconfont" href=""><img src="" alt=""></div>
        <a href="#!">帮助与反馈</a>
      </li>
    </ul>
  </div>
  <div class="h-search iconfont"></div>
</header>
