<article class="me">
  <section class="m-one">
    <a href="" class="friends"><img src="../images/wh2.jpg" alt="" /></a>
    <div class="news">
        <span class="m-name">爱不将就</span>
        <span class="m-hao">微信号：YY2034</span>
        <span class="m-ma iconfont"><img src="../images/erweima.png" alt="" /></span>
    </div>
  </section>
  <section class="m-two">
    <div class="mt-up">
      <a href="" class="d-icon d-icon-one"><img src="../images/相册.png" alt=""></a>
      <span>相册</span>
    </div>
    <div class="mt-down mt-up">
      <a href="" class="d-icon d-icon-two"><img src="../images/收藏.png" alt="" /></a>
      <span>收藏</span>
    </div>
  </section>
  <section class="m-two">
    <div class="mt-up">
      <a href="" class="d-icon d-icon-three"><img src="../images/钱包.png" alt=""></a>
      <span>钱包</span>
    </div>
    <div class="mt-down mt-up">
      <a href="" class="d-icon d-icon-four"><img src="../images/卡券.png" alt="" /></a>
      <span>卡券</span>
    </div>
  </section>
  <section class="m-three">
    <a href="" class="d-icon d-icon-five"><img src="../images/表情.png" alt="" /></a>
    <span>表情</span>
  </section>
  <section class="m-three">
    <a href="" class="d-icon d-icon-six"><img src="../images/设置.png" alt="" /></a>
    <span>设置</span>
  </section>
</article>
