<article class="chat" ng-controller="weixinCtrl">
  <div class="row" id="hang" ng-repeat="v in chatList">
    <div class="col-xs-12" id="col-ms-12">
      <a href="#/chat/{{$index}}" class="son"></a>
      <a href="" class="touxiang"><img src="{{v.image}}" alt=""></a>
      <div class="message">
          <span class="name">{{v.name}}</span>
          <p class="content">{{v.content}}</p>
          <span class="time">{{v.time}}</span>
      </div>
    </div>
    <!-- <div class="line"></div> -->
  </div>

  <!-- <div class="row" id="hang">
    <div class="col-xs-12" id="col-ms-12">
      <a href="" class="touxiang"><img src="" alt=""></a>
      <div class="message">
          <span class="name">Lemo Tree</span>
          <p class="content">猴赛雷</p>
          <span class="time">13:27</span>
      </div>
    </div>
  </div>
  <div class="row" id="hang">
    <div class="col-xs-12" id="col-ms-12">
      <a href="" class="touxiang"><img src="" alt=""></a>
      <div class="message">
          <span class="name">Lemo Tree</span>
          <p class="content">猴赛雷</p>
          <span class="time">13:27</span>
      </div>
    </div>
  </div>
  <div class="row" id="hang">
    <div class="col-xs-12" id="col-ms-12">
      <a href="" class="touxiang"><img src="" alt=""></a>
      <div class="message">
          <span class="name">Lemo Tree</span>
          <p class="content">猴赛雷</p>
          <span class="time">13:27</span>
      </div>
    </div>
  </div>
  <div class="row" id="hang">
    <div class="col-xs-12" id="col-ms-12">
      <a href="" class="touxiang"><img src="" alt=""></a>
      <div class="message">
          <span class="name">Lemo Tree</span>
          <p class="content">猴赛雷</p>
          <span class="time">13:27</span>
      </div>
    </div>
  </div>
  <div class="row" id="hang">
    <div class="col-xs-12" id="col-ms-12">
      <a href="" class="touxiang"><img src="" alt=""></a>
      <div class="message">
          <span class="name">Lemo Tree</span>
          <p class="content">猴赛雷</p>
          <span class="time">13:27</span>
      </div>
    </div>
  </div>
  <div class="row" id="hang">
    <div class="col-xs-12" id="col-ms-12">
      <a href="" class="touxiang"><img src="" alt=""></a>
      <div class="message">
          <span class="name">Lemo Tree</span>
          <p class="content">猴赛雷</p>
          <span class="time">13:27</span>
      </div>
    </div>
  </div>
  <div class="row" id="hang">
    <div class="col-xs-12" id="col-ms-12">
      <a href="" class="touxiang"><img src="" alt=""></a>
      <div class="message">
          <span class="name">Lemo Tree</span>
          <p class="content">猴赛雷</p>
          <span class="time">13:27</span>
      </div>
    </div>
  </div>
  <div class="row" id="hang">
    <div class="col-xs-12" id="col-ms-12">
      <a href="" class="touxiang"><img src="" alt=""></a>
      <div class="message">
          <span class="name">Lemo Tree</span>
          <p class="content">猴赛雷</p>
          <span class="time">13:27</span>
      </div>
    </div>
  </div>
  <div class="row" id="hang">
    <div class="col-xs-12" id="col-ms-12">
      <a href="" class="touxiang"><img src="" alt=""></a>
      <div class="message">
          <span class="name">Lemo Tree</span>
          <p class="content">猴赛雷</p>
          <span class="time">13:27</span>
      </div>
    </div>
  </div> -->
</article>
